<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiltaApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DiltaApp.Properties.Settings>
            <setting name="transpose" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="soundsNote1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="soundsNote2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="soundsNote3" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="soundsNote4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="soundsNote5" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="soundsNote6" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="soundsNotesOctave1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="soundsNotesOctave2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="soundsNotesOctave3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="soundsNotesOctave4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="soundsNotesOctave5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="soundsNotesOctave6" serializeAs="String">
                <value>0</value>
            </setting>
        </DiltaApp.Properties.Settings>
    </userSettings>
</configuration>